@import "./reset.css";

/* I didn't use provided font ("Inter") because, frankly, 
I like the standard one and serif fonts in general more */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

.card {
  width: max(25vw, 30rem);
  padding: 48px;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  color: white;
  border-radius: 16px;
  overflow-wrap: break-word;
}

.social-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.social-link {
  padding: 12px;
  background-color: hsl(0, 0%, 20%);
  margin-top: 1rem;
  border-radius: 8px;
  display: block;
}

.social-links li {
  height: auto;
}

.social-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.social-link:hover,
.social-link.selected {
  background-color: aquamarine;
  color: hsl(0, 0%, 12%);
}

.location {
  color: aquamarine;
  margin-bottom: 2rem;
}

.about {
  margin: 1.5rem auto;
  color: lightgrey;
}

.name {
  margin-bottom: 1rem;
}

.avatar {
  height: min(100%, 6.25rem);
  width: min(100%, 6.25rem);
  margin: 0 auto 32px auto;
  border-radius: 50%;
}

.screen-reader-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media screen and (max-width: 50rem) {
  .card {
    padding: 24px;
    width: calc(100% - 48px);
  }
}
